##################################################################################################
# Operation System Specific Setting
##################################################################################################

# macOS
.DS_Store

##################################################################################################
# IDE Specific Setting
##################################################################################################

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

# VS Code
.vscode/

##################################################################################################
# Generic excluded files (in all sub-directories)
##################################################################################################

.bak/
.cache/
.local/
.tmp/
.tmp-*/
.env
.env-*
